body {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;

background-image: linear-gradient( 
    rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 0.4)), url("imageArunachala/hatter.jfif");
background-repeat: no-repeat;
background-position: center;
background-origin: border-box;
background-attachment: fixed;
background-size: cover;
}


h1 {
    font-size: 5rem;
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
    text-align: center;
    font-family: 'MonteCarlo', cursive;
}

.kepdoboz {
    position: relative;
    /* max-width: 61%;
    margin-left: auto;
    margin-right: auto; */
    /* border: 5px solid black; */
}

.kep {
    height: 50vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 1%;    
}

.nyil {
    width: calc(1rem + 1vw);
    /* margin: 0; */
    position: absolute;
    top: 50%;
}

.balra {
    left: 12%;
}

.jobbra {
    transform: rotate(180deg);
    right: 12%;
}

.clicked {
    text-align: center;
    font-size: 2.5rem;
    margin: 5rem 0 4rem 0;
}

.szoveg {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}



/* indexképek flexezve*/
#keptarvalaszto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(0.1rem + 0.1vh);
    margin-bottom: calc(0.1rem + 3vh);
}

.thumbnail {
    display: flex;
    height: calc(0.1rem + 5.0vh);
    margin: calc(0.1rem + 0.5vw);
    /* margin-bottom: 10px; */
    border: 2px double rgb(172, 44, 44);
    border-radius: 6%;
    opacity: 0.2;
}

.kiskep {
    border-radius: 1%;
}

.thumbnail:hover {
    opacity: 0.9;
    transform: scale(1.3)
}

/* Jelzi, hogy hol tartok. */
.op {
    opacity: 0.5;
    box-shadow: 0 2px 3px 2px rgb(185, 79, 79);
}



/* Reszponzív tipográfia (Mérei Tamás 2021.01.05.) */
html {
    font-size: 10px;
}

@media(min-width:480px) {
    html {
        font-size: calc(1em+0.5vw);
    }
}
